.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.combobox_restyle {
	border-radius:0px;

}
.ac_subinfo dl {
	margin-left:0em;
	margin:0em;
}
.hiddenRow {
		padding: 0 !important;
}
.fakeTH {
	font-weight:bold;
}
.imagebox {
  background: black;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
}

.imagebox:hover img {
  opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
  padding-bottom: 10%;
}

.bg_arrow_darkblue {
	background-color: #203864;
}
.bg_arrow_blue {
	background-color: #315495;
}
.bg_arrow_lightblue {
	background-color: #DAE3F4;
}
.bg_arrow_white {
	background-color: #FFFFFF;
}
.bg_arrow_gradient {
	background-color: #203864;
	background-image:url('img/Gradient-WEB.png');
	background-repeat:repeat;
}
.bg_arrow_white_rnd {
	background-color: #FFFFFF;
	border-radius: 5px;
}
.loggedin_span {
	font-weight:bold;
	color:#FFF;
}
.svgLogo {
	filter: drop-shadow(1px 1px 2px white);
}
/*
#prodTable {
	font-size:0.8em;
} */
#userAlerts {
	margin-left:10px;
	margin-right:10px;
	color:#ffc107; /* bootstrap yellow warning */
	font-size:0.8em;
}

#userAlerts a {
	color:#ffc107; /* bootstrap yellow warning */
	cursor:hand;
}
.mhwLoading  {
	align-content: left;
	vertical-align: text-top;
}
.inline_animated_chevron {
	vertical-align: middle;
	height:2em;

}
.btn_animated_chevron {
	vertical-align: middle;
	height:1em;

}
.chillnote {
	color:red;
}